body {
  margin: 0;
  background: url('http://unsplash.s3.amazonaws.com/batch%209/sander-zelhem-green-passage.jpg');
  background-color: #f2f2f2;
  font-family: Ubuntu;
  font-size: 14px;
  color: #a2a2a2;
  position: relative;
}
img {
  width: 15px;
  height: 15px;
}

.main {
  /*background-color: #f2f2f2;*/
  z-index: 1;
}

#header , #header a {
  background-color: #60C4D4;
  color: #ffffff;
  opacity: .7;
  text-decoration: none;
  font-family: 'League Gothic';
  letter-spacing: 3px;
  height: 5em;
  position: absolute;
  z-index: 99;
}

#site-logo {
  border: 1px dashed;
  float: left;
  padding: 5px;
  margin: 22px;
  width: auto;
}

#site-title {
  float: left;
  margin: auto;
}

#user-info {
  float: right;
  margin-right: 22px;
  margin-top: 30px;
}

.clear {
  clear: both;
}

ul {
  list-style: none; 
  margin-top: 3em;
}

li.story {
  background-color: #ffffff;
  padding: 1px;
  margin: auto;
  width: 90%;
  margin-bottom: .1em;
  display: block;
}

.story-title > a {
  margin-left: 10px;
  text-decoration: none;
  color: #28D1BC;
}

.story-info {
  margin-top: -1em;
  margin-left: 8.5em;
  font-size: 12px;
  color: #a2a2a2;
}

.domain {
  margin-left: 1em;
  font-size: .7em;
  color: #aaaaaa;
}

.num {
  background: #0B86A9;
  float: left;
  width: 64px;
  min-height: 100%;
  line-height: 64px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin-top: -15px;
  margin-left: 20px;
}

.num:hover {
  background: #9bd8e9;
  background: #8cc1e4;
  transition: all .3s ease-in;
}
