<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Condiment|Lobster' rel='stylesheet' type='text/css'>
  <title>Lets Teach - An educational platform</title>
  {% block extrahead %}{% endblock %}
</head>
<body>
  <div class="container">
    <h1 class="left">Lets Teach</h1>

    <div id="navtop">
      {% if user.is_authenticated %}
        <p><a href="/logout/">Logout</a></p>
      {% else %}
        <p><a href="/login/">Login</a></p>
      {% endif %}
    </div>

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
